.icon {
    margin: .5rem 0;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.github {
    font-size: 1.6rem;
    color: black;
}

.insta {
    font-size: 1.6rem;
    color: black;
}

.linkdin {
    font-size: 1.6rem;
    color: black;
}

.info {
    margin: .5rem 0;
}

.info p {
    font-size: 1.4rem;

}

#id {
    width: 18rem;
}

@media screen and (max-width: 370px) {
    .icon {
        margin: .5rem 0 1.3rem 0;
        width: 65%;
    }

    .info p {
        font-size: .6rem;
    }


    #id {
        width: 14rem;
    }

}

@media only screen and (min-width:370px) and (max-width:500px) {
    .icon {
        margin: .5rem 0 1.3rem 0;
        width: 43%;
    }

    .info p {
        font-size: 1rem;
    }
    #id {
        width: 16rem;
    }

}